body 
{
    margin:0;
}
.float 
{
    background-color: aquamarine;
    width: 170px;
    height: 100px;
    float:left;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom:20px;
}
.clear
{
    margin-left: 5px;
    clear:both;
    width:99%;
    background-color:bisque;
    margin-right: 3px;
}